@{
    ViewData["Title"] = "Home Page";
}

<article>
    <section class="message-content">
        <img src="http://www.atomist.com/img/Atomist-Mark-Color.png" alt="Atomist Color Logo" height="100">
        <h1>Hey there!</h1>
        <div class="content">This is your hello world page. You're project has been created and you are ready to
            go. You can <a href="https://github.com/atomist-seeds/dotnet-core-service">go to the repository</a> to check out the readme or grab
            the code.</div>
        <div class="website-link"><a href="https://atomist.com">Visit Atomist.com</a></div>
    </section>
</article>
